Repository CAFREE-dev/cafree-backend, pull requests merged in 2022-11, with the labels that each got.

#6 feature: #2 cafe api, business logic 구현
  build.gradle
  src/main/java/net/cafree/domain/cafe/controller/CafeController.java
  src/main/java/net/cafree/domain/cafe/domain/Cafe.java
  src/main/java/net/cafree/domain/cafe/dto/request/CafeRegisterRequest.java
  src/main/java/net/cafree/domain/cafe/dto/request/CafeUpdateRequest.java
  src/main/java/net/cafree/domain/cafe/dto/response/CafeResponse.java
  src/main/java/net/cafree/domain/cafe/dto/response/SimpleCafeResponse.java
  src/main/java/net/cafree/domain/cafe/entity/Cafe.java
  src/main/java/net/cafree/domain/cafe/entity/CafeAddress.java
  src/main/java/net/cafree/domain/cafe/repository/CafeAddressRepository.java
  src/main/java/net/cafree/domain/cafe/repository/CafeRepository.java
  src/main/java/net/cafree/domain/cafe/service/CafeService.java
  src/test/java/net/cafree/domain/cafe/repository/CafeRepositoryTest.java
  src/test/java/net/cafree/domain/cafe/service/CafeServiceTest.java
  src/test/java/net/cafree/util/ApiDocumentUtils.java
Labels: 💡feature, ☔️test, ⚙️chore

#9 fix: #8 cafe entity toCafeResponse 오버플로우 문제 수정
  src/main/java/net/cafree/domain/cafe/entity/Cafe.java
Labels: 🛠fix

#11 refactor: #10 DTO class에서 record로 변경
  src/main/java/net/cafree/domain/cafe/dto/request/CafeRegisterRequest.java
  src/main/java/net/cafree/domain/cafe/dto/request/CafeUpdateRequest.java
  src/main/java/net/cafree/domain/cafe/dto/response/CafeResponse.java
  src/main/java/net/cafree/domain/cafe/dto/response/SimpleCafeResponse.java
  src/main/java/net/cafree/domain/cafe/entity/Cafe.java
  src/main/java/net/cafree/domain/cafe/service/CafeService.java
Labels: 🔨refactor

#12 Feature: #7 카페 Controller 테스트 코드 및 Rest Docs 작성
  build.gradle
  src/docs/asciidoc/api-docs.adoc
  src/main/java/net/cafree/domain/cafe/entity/Cafe.java
  src/main/resources/static/docs/api-docs.html
  src/test/java/net/cafree/domain/cafe/controller/CafeControllerTest.java
  src/test/java/net/cafree/util/ApiDocumentUtils.java
Labels: ☔️test, ✍️docs

#15 fix: cafeaddress 생성자 주입 변수와 매개변수 명이 일치하지 않는 오류 수정
  src/main/java/net/cafree/domain/cafe/entity/CafeAddress.java
Labels: 🛠fix

#17 refactor: 테스트 코드 어노테이션 변경 및 미사용 import문 체크
  src/main/java/net/cafree/domain/cafe/dto/response/CafeResponse.java
  src/main/java/net/cafree/domain/cafe/dto/response/SimpleCafeResponse.java
  src/main/resources/static/docs/api-docs.html
  src/test/java/net/cafree/domain/cafe/controller/CafeControllerTest.java
Labels: 🔨refactor, ✍️docs

#18 Feature: #14 feed repository test 작성 및 dto, entity 구현
  src/main/java/net/cafree/domain/feed/dto/request/FeedAddRequest.java
  src/main/java/net/cafree/domain/feed/dto/request/FeedUpdateRequest.java
  src/main/java/net/cafree/domain/feed/dto/response/FeedResponse.java
  src/main/java/net/cafree/domain/feed/dto/response/SimpleFeedResponse.java
  src/main/java/net/cafree/domain/feed/entity/Feed.java
  src/main/java/net/cafree/domain/feed/entity/FeedImage.java
  src/main/java/net/cafree/domain/feed/entity/FeedTag.java
  src/main/java/net/cafree/domain/feed/entity/Tag.java
  src/main/java/net/cafree/domain/feed/repository/FeedImageRepository.java
  src/main/java/net/cafree/domain/feed/repository/FeedRepository.java
  src/main/java/net/cafree/domain/feed/repository/FeedTagRepository.java
  src/main/java/net/cafree/domain/feed/repository/TagRepository.java
  src/main/java/net/cafree/domain/member/entity/Member.java
  src/main/java/net/cafree/domain/member/repository/MemberRepository.java
  src/main/java/net/cafree/global/BaseTime.java
  src/main/java/net/cafree/global/JpaConfig.java
  src/test/java/net/cafree/domain/feed/repository/FeedImageRepositoryTest.java
  src/test/java/net/cafree/domain/feed/repository/FeedRepositoryTest.java
  src/test/java/net/cafree/domain/feed/repository/FeedTagRepositoryTest.java
  src/test/java/net/cafree/domain/feed/repository/TagRepositoryTest.java
Labels: 💡feature, ☔️test
